<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.mungziapp.traveltogether">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

	<application
		android:name=".app.GlobalApplication"
		android:allowBackup="true"
		android:icon="@drawable/ic_app_round"
		android:label="@string/app_name_kor"
		android:roundIcon="@drawable/ic_app_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		android:usesCleartextTraffic="true">
		<activity android:name=".activity.AddScheduleActivity"></activity>
		<activity android:name=".activity.PhotoViewActivity" />
		<activity android:name=".activity.CheckMemberActivity" />
		<activity android:name=".activity.EditTravelActivity" />
		<activity android:name=".activity.SearchActivity" />
		<activity android:name=".activity.TravelActivity" />
		<activity android:name=".activity.SettingsActivity" />
		<activity
			android:name=".activity.DetailActivity"
			android:theme="@style/AppThemeDark" />
		<activity android:name=".activity.LoginActivity" />
		<activity
			android:name=".activity.SplashActivity"
			android:theme="@style/SplashTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<meta-data
			android:name="com.kakao.sdk.AppKey"
			android:value="@string/kakao_app_key" />

		<activity android:name=".activity.AddTravelActivity" />
		<activity android:name=".activity.MainActivity" />
	</application>

</manifest>